
OPENAI_API_KEY=your_openai_api_key_here
LLM_BASE_URL=https://api.deepseek.com
EMBEDDING_MODEL=jinaai/jina-embeddings-v5-text-small #BAAI/bge-m3 - This one is more powerful but also resource intensive

SUPABASE_URL=https://yoururl.supabase.co
SUPABASE_KEY=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=

LANGFUSE_BASE_URL=https://cloud.langfuse.com



